* {margin: 0;
    box-sizing: border-box;

}
body {
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    background-image: url(Lightbulb\ numbers.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #5bb3b9;
    justify-content: center;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

header {
    margin: 30px;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    /* background-image: linear-gradient(rgb(52, 52, 124), rgb(37, 37, 102), rgb(70, 70, 185), rgb(86, 86, 253)); */
    background-image: linear-gradient(rgb(52, 104, 124), rgb(37, 37, 102), rgb(7, 66, 56),rgb(10, 198, 245));
}

#title{
    margin: auto;
    font-size: 60px; 
    padding: 10px;
    grid-column: span 6;
}


nav {
    grid-column: 8 / span 4;
    margin: auto;
}

a {
    color: white;
    font-size: 16px;
    margin: 30px;
}

#name{
    margin: auto;
    font-size: 30px;
    padding: 10px;
    grid-column: span 6;

}

#contact {
    grid-column: 8/ span 5;
    margin-top: 20px;
    display: flex;
    gap: 50px;
    margin-left: 40px;
}

#sectionIntro {
    position: relative;
}

#bio{
    background-color: #5bb3b9;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    /* background-image: linear-gradient(rgb(52, 52, 124), rgb(37, 37, 102), rgb(70, 70, 185), rgb(86, 86, 253)); */
    padding: 80px;  
    font-weight: 500;
    background-image: linear-gradient(rgb(52, 104, 124), rgb(37, 37, 102), rgb(7, 66, 56),rgb(10, 198, 245));
    margin: 30px;
    font-size: 20px;
    grid-column: span 7;
    position: relative;
    
}

#myPassions {  
    grid-column: span 3;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    /* background-image: linear-gradient(rgb(52, 52, 124), rgb(37, 37, 102), rgb(70, 70, 185), rgb(86, 86, 253)); */
    padding: 10px 30px; 
    font-weight: 500;
    background-image: linear-gradient(rgb(52, 104, 124), rgb(37, 37, 102), rgb(7, 66, 56),rgb(10, 198, 245));
    position: inherit;
    left: 200px;
    top: -150px;
    font-size: 15px;
}

#mypic {
    width: 700px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid whitesmoke;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    margin: 30px;
    grid-column: span 5;
}

h2 {
    grid-column: span 12;
    text-align: center;
    font-size: 3.5rem;
    box-shadow: 5px 5px #57626d, 5px 5px pink;
    border-radius: 10px;
    padding: 20px;
}

#list {
    line-height: 1.8;
}

.skills{
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    box-shadow: #57626d 5px 5px;

}


#skillsDiv {
    display: flex;
    gap: 60px;
    flex-wrap: wrap; 
    justify-content: center;
    border: 5px solid whitesmoke;
    grid-column: 4 / span 6;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    /* background-image: linear-gradient(rgb(52, 52, 124), rgb(37, 37, 102), rgb(70, 70, 185), rgb(86, 86, 253)); */
    padding: 70px;
    background-image: linear-gradient(rgb(52, 104, 124), rgb(37, 37, 102), rgb(7, 66, 56),rgb(10, 198, 245));
    margin: 40px auto;
}


.project {
    display: flex;
    grid-column: span 12;
    gap: 40px;
    margin: 20px;
    justify-content: center;
} 


.card {
    background-color: rgba(219, 233, 245, 0.9);
    color: rgb(10, 10, 41);
    border-radius: 10px;
    padding: 20px;
    font-weight: 400;
    border-radius: 10px;
    border: 5px solid whitesmoke;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    margin-top: 100px;
    width: 700px;
    height: 400px;
    align-content: center;

}


.screenshot {
    border: 5px black solid;
    border-radius: 10px;
    border: 5px solid whitesmoke;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    width: 500px;
    height: 400px;
    margin-top: 100px;
    object-fit: fill;
    

}

.tu {
    background-color: yellowgreen;
}

/* .cont {
    object-fit: contain;
    background-color: rgb(226, 168, 61);
}

#ecom {
    width: 100rem;;
} */

.division {
    border: rgb(88, 75, 75) solid 15px;
}