body {
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    background-image: url(Lightbulb\ numbers.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #5bb3b9;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1200px;
    margin-left: 60px;
}

header {
    margin: 30px;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    /* background-image: linear-gradient(rgb(52, 52, 124), rgb(37, 37, 102), rgb(70, 70, 185), rgb(86, 86, 253)); */
    grid-column: span 12;
    background-image: linear-gradient(rgb(52, 104, 124), rgb(37, 37, 102), rgb(7, 66, 56),rgb(10, 198, 245));
}

#title{
    margin: 0;
    font-size: 60px; 
    grid-column: 2/ span 7;
    padding: 10px;
}

#name{
    margin: 0;
    font-size: 30px;
    grid-column: 2/ span 7;
    padding: 10px;
}

#contact {
    padding-right: 30px;
    padding-bottom: 40px;
    justify-content: right;
    grid-column: 9 / span 4;
}

#together {
    grid-column: 1/ span 6;
    margin-left: 60px;
    gap: 30px;
}

#bio{
    background-color: #5bb3b9;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    /* background-image: linear-gradient(rgb(52, 52, 124), rgb(37, 37, 102), rgb(70, 70, 185), rgb(86, 86, 253)); */
    padding: 10px 30px;  
    margin-bottom: 20px;
    font-weight: 500;
    background-image: linear-gradient(rgb(52, 104, 124), rgb(37, 37, 102), rgb(7, 66, 56),rgb(10, 198, 245));
    margin: 30px;
}


#myPassions {  
    grid-column: 5 / span 7;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    /* background-image: linear-gradient(rgb(52, 52, 124), rgb(37, 37, 102), rgb(70, 70, 185), rgb(86, 86, 253)); */
    padding: 10px 30px; 
    font-weight: 500;
    background-image: linear-gradient(rgb(52, 104, 124), rgb(37, 37, 102), rgb(7, 66, 56),rgb(10, 198, 245));
}

#mypic {
    width: 700px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid whitesmoke;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    margin: 30px;
}

h2 {
    grid-column: span 12;
    text-align: center;
    font-size: 3.5rem;
    box-shadow: 5px 5px #57626d, 5px 5px pink;
    border-radius: 10px;
    background-color: rgba(252, 252, 252, 0.7);
}

#list {
    line-height: 1.8;
}

.skills{
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    box-shadow: #57626d 5px 5px;
}

.skills:hover, #bio:hover, #myPassions:hover, img:hover, .card:hover{
    transform: scale(1.2);
}

#skillsDiv {
    display: flex;
    gap: 40px;
    flex-wrap: wrap; 
    justify-content: center;
    border: 5px solid whitesmoke;
    grid-column: 3 / span 8;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    /* background-image: linear-gradient(rgb(52, 52, 124), rgb(37, 37, 102), rgb(70, 70, 185), rgb(86, 86, 253)); */
    padding: 40px;
    background-image: linear-gradient(rgb(52, 104, 124), rgb(37, 37, 102), rgb(7, 66, 56),rgb(10, 198, 245));
}


#project {
    display: flex;
    grid-column: span 12;
    gap: 40px;
    margin: 20px;
    justify-content: center;
} 


.card {
    background-color: rgba(219, 233, 245, 0.9);
    color: rgb(10, 10, 41);
    border-radius: 10px;
    padding: 10px;
    font-weight: 400;
    border-radius: 10px;
    border: 5px solid whitesmoke;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
    width: 30;
}


.screenshot {
    border: 5px black solid;
    width: 500px;
    border-radius: 10px;
    border: 5px solid whitesmoke;
    box-shadow: 5px 5px rgba(0, 0, 0, .3), 5px 5px pink;
}

.tu {
    background-color: yellowgreen;
}

.cont {
    object-fit: contain;
    background-color: rgb(226, 168, 61);
}

#ecom {
    width: 100rem;;
}
